.container{
    max-width: 1440px;
    width: 100%;
    padding: 0 116px;
    margin: 0 auto;
}
@media screen and (max-width: 1150px){
    .container{
        padding: 0 60px;
    }
}
@media screen and (max-width: 768px){
    .container{
        padding: 0 20px;
    }
}